<!doctype html>
<html>
<head>
  <title>Crash at my pad</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <link href='https://fonts.googleapis.com/css?family=Overlock:400,700|Cabin+Sketch:700' rel='stylesheet' type='text/css'>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='dist/style.min.css') }}">
</head>
<body>

<main class="container" id="main-page">
  <div class="header">
    {% if current_user.is_authenticated %}
      <div class="greeting">
      Hi {{ current_user.name or current_user.email }}!
      </div>
      <button class="button-login" onclick="onLogout()">
        Log out
      </button>
    {% else %}
      {% if confirmation_email_sent %}
        <div class="greeting">
          A confirmation link is sent to your email : )
        </div>
      {% endif %}
      <a href="#to-login" class="button-login">
        Log in / Sign up
      </a>
      <div id="to-login" class="login-dialog">
        <div class="dialog">
          <a href="#" title="Close" class="close">X</a>
          <form action="/session" method="post">
            <div class="email">
              <label for="email">Email</label>
              <input id="email" name="username" type="email"/>
            </div>
            <div class="password">
              <label for="password">Password</label>
              <input id="password" name="password" type="password" maxlength="32" />
            </div>
            <input type="submit" class="submit" value="Log in" />
          </form>
        </div>
      </div>
    {% endif %}
  </div>
  <div class="title">
    <span class="title-text">Crash At My Pad</span>
  </div>
  <div class="subtitle">
    <span class="subtitle-text">... a roof you can rest under!</span>
  </div>
  <div class="search-n-description">
    <div class="search">
      <select name="location" id="selector-city" class="selector-city"
          onkeydown="onKeyDownCitySelector(event)"
          ondblclick="onDoubleClickCitySelector(event)"
          onclick="onDoubleClickCitySelector(event)"></select>
      <input type="text" id="input-location" title="Location to go"
              placeholder="Hamburg, Germany" class="search-input" autofocus
              oninput="onChangeSearchInput(event)"
              onkeydown="onKeyDownSearchInput(event)"/>
    </div>
    <span class="description-text">A website by climbers for climbers, who are willing to share their roof,
      yard, trees, or
      driveway with fellow climbers passing through.</span>
  </div>
</main>
<script type="text/javascript" src="{{ url_for('static', filename='dist/main_page.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dist/search_input.js') }}"></script>
</body>
</html>
