<!doctype html>
<html>
<head>
  <title>Crash at my pad</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='landing_page.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='global_styles.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Overlock:400,700|Cabin+Sketch:700' rel='stylesheet' type='text/css'>
</head>
<body>

<main class="container" id="main-page">
  <div class="title">
    <span class="title-text">Crash At My Pad</span>
  </div>
  <div class="subtitle">
    <span class="subtitle-text">... a roof you can rest under!</span>
  </div>
  <div class="search-n-description">
  <form action="/search" method="get" class="search">
    <input type="text" id="location" title="Location to go"
           placeholder="Frankenjura, Germany" class="search-input" />
    <button type="submit" class="search-button">Find!</button>
  </form>
    <span class="description-text">A website by climbers for climbers, who are willing to share their roof,
      yard, trees, or
      driveway with fellow climbers passing through.</span>
  </div>
</main>
<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
