<!doctype html>
<html>
<head>
  <title>Crash at my pad</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Overlock:400,700|Cabin+Sketch:700' rel='stylesheet' type='text/css'>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='dist/style.min.css') }}">
</head>
<body>

<main class="container" id="main-page">
  <div class="title">
    <span class="title-text">Crash At My Pad</span>
  </div>
  <div class="subtitle">
    <span class="subtitle-text">... a roof you can rest under!</span>
  </div>
  <div class="search-n-description">
    <div class="search">
      <select name="location" id="selector-city" class="selector-city"
          onkeydown="onKeyDownCitySelector(event)"
          ondblclick="onDoubleClickCitySelector(event)"
          onclick="onDoubleClickCitySelector(event)"></select>
      <input type="text" id="input-location" title="Location to go"
              placeholder="Hamburg, Germany" class="search-input" autofocus
              oninput="onChangeSearchInput(event)"
              onkeydown="onKeyDownSearchInput(event)"/>
    </div>
    <span class="description-text">A website by climbers for climbers, who are willing to share their roof,
      yard, trees, or
      driveway with fellow climbers passing through.</span>
  </div>
</main>
<script type="text/javascript" src="{{ url_for('static', filename='dist/scripts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dist/search_input.js') }}"></script>
</body>
</html>
