<!doctype html>
<html>
<head>
  <title>Crash at my pad</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Overlock:400,700|Cabin+Sketch:700' rel='stylesheet' type='text/css'>
</head>
<body>

<main class="container" id="main-page">
  <div class="area-header">
    <p class="site-title">Crash At My Pad</p>
    <p class="site-subtitle">... a roof you can rest under!</p>
    <p class="site-description">A website by climbers for climbers, who are willing to share their roof,
      yard, trees, or
      driveway with fellow climbers passing through.</p>
  </div>
  <div class="area-rest">
    <div class="rest-content">
      <a class="btn" href="{{ url_for('page.index', in=True) }}">I'm in!</a>
      <p>And {{ people_in }} others :D</p>
      <h4>{{ message }}</h4>
    </div>
  </div>
</main>
<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
