<!doctype html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='global_styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css">
  <!--<![endif]-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
  <title>Crash pads @ {{ query }}</title>
</head>

<body onload="getMapWithMarkers({{ results }})">
  <div class="search-page">
    <form action="" method="get" class="search">
      <input type="text" id="location" title="Location to go"
             placeholder="Munich, Germany" class="search-input"
             value="{{ query }}"/>
      <button type="submit" class="search-button">Find!</button>
    </form>
    <div class="pure-g search-results">
      <div class="pure-u-1 pure-u-md-1-2 search-results-list">
        {% for location in results %}
        <div class="search-result">
          <a class="search-result-name" href="{{ '/user/' + location.user_id }}">{{ location.user_name }}</a>
          <div class="search-result-address">
            on {{ location.street }} in {{ location.city }}
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="pure-u-1 pure-u-md-1-2 search-results-map">
        <div id="map" class="map"></div>
      </div>
    </div>
  </div>
</body>

</html>