<!doctype html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css"/>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='dist/style.min.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css">
  <!--<![endif]-->
  <title>Crash pads @ {{ query }}</title>
</head>

<body onload="getMapWithMarkers({{ query_coordinates }}, {{ results }})">
  <div class="search-page">
    <div class="search">
      <div id="selector-city" class="selector-city">
      </div>
      <input type="text" id="input-location" title="Location to go"
              placeholder="{{ query }}" class="search-input"
              oninput="onChangeSearchInput(event)"
              onkeydown="onKeyDownSearchInput(event)"/>
    </div>
    <div class="pure-g search-results">
      <div class="pure-u-1 pure-u-md-1-2 search-results-list">
        <div class="results-count">Found {{ results|length }} crash pads</div>
        {% for location in results %}
        <div class="search-result">
          <a class="search-result-name" href="{{ '/user?user_id=' + location.user_id }}">{{ location.user_name }}</a>
          <div class="search-result-address">
            on {{ location.street }} in {{ location.city }}
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="pure-u-1 pure-u-md-1-2 search-results-map">
        <div id="map" class="map"></div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='dist/map.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='dist/search_input.js') }}"></script>
</body>

</html>