.container {
    height: 100vh;
    text-align: center;
    background-image: url(../IMG_0272.JPG);
    background-size: cover;

    .title, .subtitle, .search-n-description {
        height: 33vh;
        display: flex;
        flex-direction: column;
    }

    .title {
        justify-content: flex-end;
        height: 23vh;

        .title-text {
            font-family: 'Cabin Sketch', bold;
            font-size: 80px;
            color: black;
            text-shadow: 3px 3px #ddd;
        }
    }

    .subtitle {
        justify-content: flex-start;

        .subtitle-text {
            font-family: 'Cabin Sketch', normal;
            font-size: 32px;
            color: black;
            text-shadow: 2px 2px #ddd;
        }
    }

    .search-n-description {
        justify-content: flex-start;

        .description-text {
            width: 85%;
            align-self: center;
            font-size: 20px;
            background-color: rgba(0,0,0,0.0);
            color: #ddd;
            border-radius: 3px;
            text-shadow: 1px 1px #111;
            padding-bottom: 8px;
        }
    }
}






