.container-user-page {
    background: #eee;
    min-height: 100vh;
}

.user-data-field {
    padding: 16px 32px;
    text-align: center;
    .user-name, .user-last-name, .user-profession, .user-age {
        font-size: 14px;
        width: 40%;
        border: none;
        background: transparent;
        cursor: pointer;
        text-overflow: ellipsis;
    }
    .user-name, .user-profession, .hint-left {
        text-align: right;
    }
    .hint-left, .hint-right {
        font-size: 12px;
        color: #aaa;
        width: 40%;
        text-overflow: ellipsis;
        display: inline-block;
    }
    .user-last-name, .user-age, .hint-right {
        text-align: left;
    }
}

.user-locations {
    padding: 32px;

    .user-location {
        text-align: left;
    }

    .location-options {
        padding: 8px 0;

        .facility-type{
            display: inline-block;
            padding: 4px;
            color: #445f17;
            border: 1px solid #ddd;
            border-radius: 3px;
            margin: 4px;
            background: #fafafa;
        }
    }

    .section-title {
        text-align: left;
    }
}


