.container-user-page {
    background: #eee;
    min-height: 100vh;
}

.user-data-field {
    padding: 16px 32px;
    text-align: center;
}

.user-locations {
    padding: 32px;

    .user-location {
        text-align: left;
    }

    .location-options {
        padding: 8px 0;

        .facility-type{
            display: inline-block;
            padding: 4px;
            color: #445f17;
            border: 1px solid #ddd;
            border-radius: 3px;
            margin: 4px;
            background: #fafafa;
        }
    }

    .section-title {
        text-align: left;
    }
}


